[Unit]
Description=Create the Hyggshi OS live user
ConditionKernelCommandLine=archisobasedir
After=local-fs.target systemd-sysusers.service
Before=systemd-user-sessions.service display-manager.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/hyggshi-live-setup

[Install]
WantedBy=multi-user.target
