[Desktop Entry]
Type=Application
Version=1.0
Name=Install Hyggshi OS
Comment=Install Hyggshi OS to disk
Exec=sudo -E calamares
Icon=hyggshi-logo
Terminal=false
Categories=System;
